<launch>
  <!-- arg name="enableMotor" value="1"/ -->

  <!-- Run wiimote -->
  <node pkg="wiimote" type="wiimote_node.py" name="wiimote" required="false" respawn="true"/>

  <group ns="robot_0">
    <!-- Open the laser. See http://wiki.ros.org/urg_node for more details. -->
    <node pkg="urg_node" type="urg_node" name="hokuyo_laser" required="false" respawn="true" />

    <!-- Run P2OS driver -->
    <node pkg="p2os_driver" type="p2os_driver" name="p2os" required="false" respawn="true"/>
    
  </group>
  
  <!-- Enable motors -->
  <node pkg="rostopic" type="rostopic" name="p3dx_enable"
        args="pub /robot_0/cmd_motor_state p2os_msgs/MotorState 1"
        respawn="true" respawn_delay="30"/>

  <!-- Run our application -->
  <node pkg="p3dx_apps" type="p3dx_demo" name="p3dx_demo" required="false" respawn="true" cwd="node"/>
  
</launch>
