<launch>
  <arg name="robotName" value="pioneer"/>

  <!-- COnfiguration to use the robot odometry, laser scanner and D435i -->
  <group ns="$(arg robotName)">
      <!-- # Camera launch -->
      <include file="$(find realsense2_camera)/launch/rs_camera.launch">
          <arg name="align_depth" value="true"/>
          <arg name="unite_imu_method" value="linear_interpolation"/>
          <arg name="enable_gyro" value="true"/>
          <arg name="enable_accel" value="true"/>
          <arg name="enable_orientation" value="true"/>
      </include>

      <!-- Run the TF for the front camera -->
      <node pkg="tf2_ros" type="static_transform_publisher" 
          name="front_camera_link_broadcaster" 
          args="0.20 0 0.12 0 0 0 1 base_link camera_link"
          required="true"/>

      <!-- Run the IMU filter -->
      <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
        <param name="use_mag" type="bool" value="false"/>
        <param name="publish_tf" type="bool" value="false"/>
        <param name="world_frame" type="string" value="enu"/>
        <remap from="imu/data_raw" to="camera/imu"/>
        <remap from="imu/data" to="rtabmap/imu"/>
      </node>

    <group ns="rtabmap">
      <!-- RGBDSync -->
      <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync /$(arg robotName)/camera/realsense2_camera_manager"  output="screen">
        <remap from="rgb/image"       to="/$(arg robotName)/camera/color/image_raw"/>
        <remap from="depth/image"     to="/$(arg robotName)/camera/aligned_depth_to_color/image_raw"/>
        <remap from="rgb/camera_info" to="/$(arg robotName)/camera/color/camera_info"/>
        <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
        <param name="approx_sync"       value="false"/>
      </node>

      <!-- Actual rtabmap -->
      <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
        <param name="frame_id" type="string" value="base_link"/>

        <param name="subscribe_depth" type="bool" value="false"/>
        <param name="subscribe_rgbd" type="bool" value="true"/>
        <param name="subscribe_scan" type="bool" value="true"/>

        <remap from="odom" to="/$(arg robotName)/odom"/>
        <remap from="scan" to="/$(arg robotName)/scan"/>
        <remap from="rgbd_image" to="rgbd_image"/>

        <param name="approx_sync" value="true"/>

        <param name="queue_size" type="int" value="10"/>

        <!-- RTAB-Map's parameters -->
        <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
        <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
        <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
        <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
        <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
        <param name="Grid/FromDepth"            type="string" value="false"/> <!-- occupancy grid from lidar -->
        <param name="Reg/Force3DoF"             type="string" value="true"/>
        <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
        
        <!-- ICP parameters -->
        <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
        <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
     </node>
    </group>
  </group>

</launch>
